body {
    background-color: aliceblue;
}
h1 {
    color: blue;
}

table {
    border: 1px solid black;
}
table td {
    border: 1px solid black;
    padding: 3px 5px;
}
div {
    padding: 30px 10px;
}
